body{
    background-color: #FF759A;
    margin:0;
    padding:0;
}
/*
.errandbg{
    background-image:url(../img/bgforfit.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:right bottom;
} can delete? */

.column{
    float:left;
}

.left{
    background-color: #FF1654;
    width:20%;
}

.middle{
    width:40%;
}

.right{
    width:40%;
    background-image:url(../img/bgforfit.png);
    background-repeat:no-repeat;
    background-position:100%;
    display:flex;
    justify-content:center;
}

#right{
    width:40%;
}

.centeritems{
    display:flex;
    justify-content:center;
    align-items:center;
}

.game{
    width:60%;
    display:flex;
    align-items:center;
    padding:13.5px;
    border-radius: 20px;
}

nav{
    background-color:#FF1654;
    display:flex;
    justify-content: space-between;
}

#more{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color:#FFFFFF;
    margin:0;
    font-size: 25px;
    padding:30px;
    padding-right:70px;
    text-decoration:none;
}

#newgame{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:75vh;
}

.me{
    display:flex;
    justify-content:center;
    align-items:center;
    height:87vh;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    height:25vh;
  }
.container > div {
    background-color: #FF1654;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin:10px;
    border-radius: 20px;
  }

.new{
    height:40vh;
    border-radius: 20px;
}

#pop{
    height:40vh;
    border-radius: 20px;
    background-image: url(../img/dressbellafull.png);
    background-position:0px 0px;
    margin:auto;
    margin-top:10%;
    height:630px;
    width: 750px;
}

#pop:hover{
    background-image: url(../img/dressbellafull.png);
    background-position:0px -630px;
}

#poptwo{
    height:40vh;
    border-radius: 20px;
}

#yawn{
    display:flex;
    justify-content:center;
    align-items:center;
    height:85vh;
}

h1{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:#FFFFFF;
    margin:0;
    font-size: 40px;
    padding:30px;
}

h2{
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    color:#F6E3FC;
    font-size: 70px;
    display:flex;
    justify-content:center;
    margin-bottom:0px;
}

h3{
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    color:#F6E3FC;
    font-size: 45px;
    display:flex;
    justify-content:center;
}

h4{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:#9013B9;
    margin:0;
    font-size: 25px;
    padding:30px;
    display:flex;
    justify-content:center;
    margin-bottom:0px;
}

p{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style:normal;
    color:#9013B9;
    margin:0;
    font-size: 18px;
    padding:30px;
    margin-bottom:0px;
}



.goback{
    background-image: url(../img/gobackcombined.png);
    background-position:0px 0px;
    margin:auto;
    margin-top:10%;
    height:229px;
    width: 244px;
}
.goback:hover{
    background-image: url(../img/gobackcombined.png);
    background-position:0px -114.5px;
}

.options{
    width:400px;
    display:flex;
    justify-content:center;
    margin:5px;
}

.startcenter{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    margin:0;
    margin-top:0px;
}

#err:hover{
    transform:scale(1.1);
}








/*ITEMS CSS*/

#bluejeans{
    height:50vh;
    padding: 10px;
}

#bluejeans:hover{
    background-image: url(../img/bluejeansinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#blackjeans{
    height:50vh;
    padding: 10px;
}

#blackjeans:hover{
    background-image: url(../img/blajeansinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#tank{
    height:30vh;
    padding: 10px;
}

#tank:hover{
    background-image: url(../img/tankinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#shirt{
    height:30vh;
    padding: 10px;
}

#shirt:hover{
    background-image: url(../img/shirtinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}
