body{
    background-color: #FF759A;
    margin:0;
    padding:0;
}
/*
.errandbg{
    background-image:url(../img/bgforfit.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position:right bottom;
} can delete? */

.column{
    float:left;
}
.left{
    background-color: #FF1654;
    width:20%;
}
.middle{
    width:40%;
}
.right{
    width:40%;
    background-image:url(../img/bgforfit.png);
    background-repeat:no-repeat;
    background-position:100%;
    display:flex;
    justify-content:center;
}

#right{
    width:40%;
}

#row{
    display:flex;
    justify-content:space-between;
}
#left, #middle, #rights{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:1%;
}
#left{
    width:46%;
}
#middle{
    width:24%;
}
#rights{
    width:24%;
}

.centeritems{
    display:flex;
    justify-content:center;
    align-items:center;
}

.leftcenter{
    display:flex;
    justify-content: center;
    margin:0;
}

.game{
    width:60%;
    display:flex;
    align-items:center;
    padding:13.5px;
    border-radius: 20px;
}
.game:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
}

nav{
    background-color:#FF1654;
    display:flex;
    justify-content: space-between;
}

#more{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color:#FFFFFF;
    margin:0;
    font-size: 25px;
    padding:30px;
    padding-right:70px;
    text-decoration:none;
}

#newgame{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:75vh;
}

.me{
    display:flex;
    justify-content:center;
    align-items:center;
    height:87vh;
}

/*.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    height:100vh;
  }
.container > div {
    
    font-size: 30px;
    text-align: center;
    margin:5px;
    /*border-radius: 20px;
  }

.new{
    height:38vh;
    border-radius: 20px;
    background-color: #FF1654;
    padding: 20px;
}

#pop{
    height: 38vh;
    border-radius:20px; 
    background-color: #FF1654;
    padding: 20px;
}

#poptwo{
    border-radius:20px;
}
#poptwo:hover{
    transform:scale(1.07);
}

#popthree{
    border-radius:20px;
    background-image:url('../img/dressbellafull.png');
    background-position:0px 0px;
    background-size:38vh;
    background-repeat:no-repeat;
    background-size:cover;
}
#popthree:hover{
    transform:scale(1.07);
    background-position:0px -38vh;
}*/

.new{
    height:30vh;
    border-radius: 20px;
    background-color:#FF1654;
    padding:10px;
    margin-bottom:40px;
}

#pop{
    border-radius: 20px;
    background-color:#FF1654;
    padding:10px;
}
#pop:hover{
    transform:scale(1.03);
}

#yawn{
    display:flex;
    justify-content:center;
    align-items:center;
    height:85vh;
}

h1{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:#FFFFFF;
    margin:0;
    font-size: 40px;
    padding:30px;
}

h2{
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    color:#F6E3FC;
    font-size: 70px;
    display:flex;
    justify-content:center;
    margin-bottom:0px;
}

h3{
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    color:#F6E3FC;
    font-size: 45px;
    display:flex;
    justify-content:center;
}

h4{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:#9013B9;
    margin:0;
    font-size: 25px;
    padding:30px;
    display:flex;
    justify-content:center;
    margin-bottom:0px;
}

p{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style:normal;
    color:#9013B9;
    margin:0;
    font-size: 18px;
    padding:30px;
    margin-bottom:0px;
}

#bottom{
    margin-bottom: 0;
    padding-bottom: 0;
}

#look{
    margin-top:0;
}

.goback{
    background-image: url(../img/gobackcombined.png);
    background-position:0px 0px;
    margin:auto;
    margin-top:60%;
    height:115px;
    width: 245px;
    background-size: 30vh;

}
.goback:hover{
    background-image: url(../img/gobackcombined.png);
    background-position:0px -115px;
}

#goback{
    background-image: url(../img/gobackcombined.png);
    background-position:0px 0px;
    margin:auto;
    margin-top:5%;
    height:115px;
    width: 245px;
    background-size: 30vh;
}
#goback:hover{
    background-image: url(../img/gobackcombined.png);
    background-position:0px -115px;
}

#gobacks{
    background-image: url(../img/gobackcombined.png);
    background-position:0px 0px;
    margin:auto;
    margin-top:40%;
    height:115px;
    width: 245px;
    background-size: 30vh;
}
#gobacks:hover{
    background-image: url(../img/gobackcombined.png);
    background-position:0px -115px;
}

.backleft{
    display:flex;
    justify-content:flex-start;
    align-items: flex-end;
    margin-left: 20px;
}

#again{
    background-image: url(../img/playagain.png);
    background-position:0px 0px;
    margin:auto;
    margin-top:5%;
    height:80px;
    width: 245px;
    background-size: 30vh;
}
#again:hover{
    background-image: url(../img/playagain.png);
    background-position:0px -80px;
}

.options{
    width:400px;
    display:flex;
    justify-content:center;
    margin:5px;
}

.startcenter{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    margin:0;
    margin-top:0px;
}

#err:hover{
    transform:scale(1.1);
}

.sparkles{
    position: absolute;
    top: 100px;
    right: 50px;
    height: 150px;
    transform: rotate(10deg);
}

.sparkle{
    position: absolute;
    top: 600px;
    right: 370px;
    height: 150px;
    transform: rotate(-10deg);
}








/*ITEMS CSS*/

#bluejeans{
    height:50vh;
    padding: 10px;
}
#bluejeans:hover{
    background-image: url(../img/bluejeansinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#blackjeans{
    height:50vh;
    padding: 10px;
}
#blackjeans:hover{
    background-image: url(../img/blajeansinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#tank{
    height:30vh;
    padding: 10px;
}
#tank:hover{
    background-image: url(../img/tankinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#shirt{
    height:30vh;
    padding: 10px;
}
#shirt:hover{
    background-image: url(../img/shirtinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#shoes{
    height:30vh;
    padding: 10px;
}
#shoes:hover{
    background-image: url(../img/shoesinvert.png);
    margin:auto;
    background-size:92%;
    background-repeat:no-repeat;
}

#purse{
    height:30vh;
    padding: 10px;
}
#purse:hover{
    background-image: url(../img/purseinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}

#hat{
    height:20vh;
    padding: 10px;
}
#hat:hover{
    background-image: url(../img/hatinvert.png);
    margin:auto;
    background-size:100%;
    background-repeat:no-repeat;
}
